@model IEnumerable<MyIntranetPortal.Models.CMS_UserRole>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ValidTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CMS_Role.RoleDisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CMS_User.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ValidTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CMS_Role.RoleDisplayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CMS_User.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserRoleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserRoleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserRoleID })
        </td>
    </tr>
}

</table>
